{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
    {% if post.visible %}
        <h1>{{ post.header|censor }}</h1>
        <h5>Дата написания: {{ post.created_at|date:'d M y' }}</h5>
        <h6>Дата изменения: {{ post.update_at|date:'d M y' }}</h6>
        {{ post.text|censor }}
        <h5>Комментарии:</h5>
        {% if comments %}
            <ul>
                {% for comment in comments %}
                    <li>
                        <div>{{ comment.text }}</div>
                        <div>Автор: {{ comment.created_by.system_user.username }}</div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h6>Еще нет ни одного комментария. Вы можете быть первым</h6>
        {% endif %}
        {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit">Добавить комментарий</button>
            </form>
        {% else %}
            <h6>Чтобы написать комментарий, Вам необходимо авторизоваться</h6>
        {% endif %}
    {% else %}
        <h2>Данный пост скрыт от просмотра, если он Вам жизненно необходим, обратитесь к Администрации сайта</h2>
    {% endif %}
{% endblock content %}